.hero-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.hero {
    width: 80%;
    display: inherit;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    display: inherit;
    flex-direction: column;
    gap: 15px;
}